.except-best-answers {
  .except-best-answers-header {
    font-size: 15px;
    font-weight: 600;
    margin: 20px 0;
  }
}

.questions-answer {
  display: flex;
  margin: 0 -5px;
  padding: 20px 5px;
  border-top: 1px solid var(--background3);
  transition: border, background 2s ease;
  .questions-answer-header {
    padding-bottom: 10px;
    .nav.preferences {
      top: -15px;
      right: 0;
    }
  }
  &.questions-best-answer {
    border-radius: 4px;
    margin: 0 -10px;
    padding: 20px 10px;
    margin-top: 20px;
    border: 1px solid var(--info);
    background: var(--background-color-highlight-soft);
    .questions-best-answer-button {
      display: block;
    }
  }
  &.questions-highlight-answer {
    background: #FFF8E0;
  }
}

.questions-answer-voting {
  width: 46px;
  button {
    width: 46px;
    height: 46px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #ccc;
    &.active, &:active, &:hover {
      background: var(--background-color-highlight);
      box-shadow: none;
    }
    &.active:hover {
      background: #fff;
      box-shadow: 1px 1px 3px #ccc;
    }
    .fa {
      font-size: 28px;
      color: #333;
      margin: -2px 0 0 -1px;
      &.fa-caret-down {
        margin-top: 2px;
      }
    }
  }
  div {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0;
    .loader .sk-spinner-three-bounce.sk-spinner {
      width: auto;
      padding: 0;
    }
  }
}
.questions-answer-content {
  width: 100%;
  padding-left: 10px;
  position: relative;
  &:hover {
    .questions-best-answer-button {
      display: block;
    }
  }
  .questions-best-answer-button {
    position: absolute;
    top: -14px;
    right: 25px;
    display: none;
    span {
      font-size: 13px;
      font-weight: normal;
    }
  }
}

.questions-answer-form {
  .ProsemirrorEditor .ProseMirror {
    min-height: 400px;
  }
}
